.btn-hej {
  color: #fff;
  background-color: #ed2f43;
  border-color: #eb182e;
}
.btn-hej:focus,
.btn-hej.focus {
  color: #fff;
  background-color: #d61327;
  border-color: #790a16;
}
.btn-hej:hover {
  color: #fff;
  background-color: #d61327;
  border-color: #b61021;
}
.btn-hej:active,
.btn-hej.active,
.open > .dropdown-toggle.btn-hej {
  color: #fff;
  background-color: #d61327;
  border-color: #b61021;
}
.btn-hej:active:hover,
.btn-hej.active:hover,
.open > .dropdown-toggle.btn-hej:hover,
.btn-hej:active:focus,
.btn-hej.active:focus,
.open > .dropdown-toggle.btn-hej:focus,
.btn-hej:active.focus,
.btn-hej.active.focus,
.open > .dropdown-toggle.btn-hej.focus {
  color: #fff;
  background-color: #b61021;
  border-color: #790a16;
}
.btn-hej:active,
.btn-hej.active,
.open > .dropdown-toggle.btn-hej {
  background-image: none;
}
.btn-hej.disabled:hover,
.btn-hej[disabled]:hover,
fieldset[disabled] .btn-hej:hover,
.btn-hej.disabled:focus,
.btn-hej[disabled]:focus,
fieldset[disabled] .btn-hej:focus,
.btn-hej.disabled.focus,
.btn-hej[disabled].focus,
fieldset[disabled] .btn-hej.focus {
  background-color: #ed2f43;
  border-color: #eb182e;
}
.btn-hej .badge {
  color: #ed2f43;
  background-color: #fff;
}
.btn-fixed {
  position: fixed;
  padding: 10px;
  border-radius: 5px;
  background-color: #30363a;
  bottom: 20px;
  right: 20px;
}
.btn-datatables {
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 120px;
  text-align: center;
}
.navbar-brand {
  padding: 5px;
}
.image-caption-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.input-group.input-daterange .input-group-label {
  border-left-width: 1px;
}
td.details-control {
  cursor: pointer;
}
td.details-control:before {
  color: #5cb85c;
  font-family: FontAwesome;
  content: "\f138";
}
tr.shown td.details-control:before {
  color: #d9534f;
  font-family: FontAwesome;
  content: "\f13a";
}
table.ticket-user-detail,
table.ticket-inspections {
  padding: 10px 25px;
  display: inline-block;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0;
}
table.ticket-user-detail tr,
table.ticket-inspections tr {
  border-top: 1px solid #ddd;
}
table.ticket-user-detail tr:first-child,
table.ticket-inspections tr:first-child {
  border-top: none;
}
table.ticket-user-detail th,
table.ticket-inspections th,
table.ticket-user-detail td,
table.ticket-inspections td {
  padding: 8px 10px;
}
.fish-group {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.fish-group legend {
  font-size: 16px;
}
.fish-group label {
  font-size: 13px;
}
#gallery-dropzone .fa-file-image-o {
  display: block;
  margin: 15px auto;
}
.loading {
  margin: 20px auto;
  height: 40px;
  color: #555;
  font-size: 32px;
  text-align: center;
}
.langingpage-row,
.fish-row,
.technique-row,
.country-row,
.state-row,
.region-row,
.city-row,
.area-row,
.poi-row,
.translation-row {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.langingpage-row textarea,
.fish-row textarea,
.technique-row textarea,
.country-row textarea,
.state-row textarea,
.region-row textarea,
.city-row textarea,
.area-row textarea,
.poi-row textarea,
.translation-row textarea {
  resize: vertical;
}
