@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro);

html, body {
    background: transparent;/*#f4fbff;*/

    font-family: 'Source Sans Pro', sans-serif;
    line-height: 22px;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: block;
    font-weight: 400;
}

input,
select,
label {
    font-size: 16px;
    margin: 6px 0px 6px -6px;
    font-family: 'Source Sans Pro', sans-serif;
}

td.label {
    width: 30%;
    padding-right: 15px;
}

tr#cvdRow {
    vertical-align: baseline;
}

table.mainTable {
    width: 540px;
}

.mainTable input,
.mainTable select {
    color: #6b6b6b;
}

.mainTable label {
    color: #999999;
}

table {
    border: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

table.mainTable .bgWhite {
    height: 0;
    background-color: transparent;
}

table.mainTable .bgWhite > td {
    padding: 0;
}

table.mainTable .frm_box {
    background-color: transparent;
    border: none;
    display: block
}

.frm_box > table {
    width: 100%;
}

input,
select {
    border-radius: 5px;
    border-width: 2px;
    padding: 3px;
}

td.userInput,
select.userInputSpan2,
input.userInputSpan2 {
    width: 100%;
}

select.userInputFirst,
input.userInputFirst,
select.userInputSecond,
input.userInputSecond {
    width: 45%;
}

select.userInputSecond,
input.userInputSecond {
    margin-left: 5px;
}

select.userInputSmall {
    width: 60%;
}

select.userInputHalf {
    width: 45%;
    margin-right: 5px;
}

td.userInputSmallHalf {
    width: 50%;
}

#buttonarea, .buttonRight
{
    display: inline;
}

#send,
#cancel {
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#send {
    color: #ffffff;
    background-color: #51a1aa;
    width: 55%;
}

#cancel {
    background: transparent;
    margin-right: 5px;
    width: 45%;
}

@media (max-width: 479px) {

    input,
    select,
    label {
        font-size: 22px;
    }

    table.mainTable {
        width: 100%;
    }

    td.label {
        width: 100%;
        margin-bottom: 5px;
    }

    td,
    label,
    input,
    select {
        display: inline-block;
    }
}

table.bar,
#cvdRow > td > a,
#companyNameRow,
#mobileRow,
#phoneRow,
#paymentSelection,
#userInfoBlock,
#addressBlock,
#contactBlock,
#notMandatoryRow {
    display: none;
}
