@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,700);
@media all {
  @page {
    size: A4;
    margin: 5mm;
  }
  body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    background-color: #ffffff;
    color: #303030;
  }
  body table {
    font-size: 10px;
  }
  .page {
    position: relative;
    width: 200mm;
    height: 286.5mm;
  }
  .manager {
    margin-right: 15mm;
    text-align: right;
  }
  .manager > .logo {
    width: 50mm;
    margin-bottom: 3mm;
  }
  .manager > .name {
    text-align: right;
    font-size: 11px;
  }
  .customer {
    font-size: 14px;
    position: absolute;
    left: 15mm;
    top: 40mm;
    width: 100mm;
  }
  .customer .back_adress {
    font-size: 7px;
    text-decoration: underline;
  }
  .general-data {
    font-size: 14px;
    position: absolute;
    text-align: right;
    right: 15mm;
    top: 70mm;
  }
  .general-data table {
    border-collapse: collapse;
  }
  .general-data table tr {
    height: 5mm;
  }
  .general-data table tr td:first-child {
    padding-right: 2mm;
  }
  .general-data table tr:not(:first-child) {
    border-top: 1px solid #a0a0a0;
  }
  .invoice-body {
    margin-left: 15mm;
    margin-top: 60mm;
    text-align: left;
    margin-right: 15mm;
  }
  .invoice-body table {
    border-collapse: collapse;
    width: 100%;
  }
  .invoice-body table tr:first-child {
    border-bottom: 1px solid #a0a0a0;
  }
  .invoice-body table th {
    font-size: 12px;
    text-align: left;
  }
  .invoice-body table td {
    text-align: left;
    padding-top: 5mm;
    font-size: 14px;
  }
  .invoice-body table .right {
    text-align: right;
  }
  .invoice-body table .table-sum {
    border-top: 1px solid #a0a0a0;
  }
  .legal-text {
    text-align: justify;
    font-weight: 300;
  }
  .info {
    font-size: 14px;
    font-weight: 300;
    margin-top: 5mm;
    margin-bottom: 0;
  }
  .footer {
    position: absolute;
    bottom: 10mm;
    left: 15mm;
    width: 170mm;
  }
  .footer table {
    font-size: 9px;
    color: #606060;
    width: 100%;
    font-weight: 400;
  }
  .footer table td {
    text-align: left;
    vertical-align: bottom;
    width: 25%;
  }
  .bold {
    font-weight: bold;
  }
}
