html,
body,
.content {
  height: 100%;
}
@media (max-width: 1199px) {
  body {
    padding-top: 60px;
  }
}
.top-nav {
  background-color: #30363a;
  border-bottom: 1px solid #191c1e;
}
@media (min-width: 1200px) {
  .top-nav {
    display: none;
  }
}
.top-nav .navbar-brand {
  color: #ecfcfc;
  padding: 5px 15px;
  font-size: 24px;
  line-height: 44px;
}
.top-nav .navbar-brand > img {
  height: 40px;
}
.top-nav .navbar-nav li {
  background-color: #158a9f;
  border: 1px solid #1bb1cc;
}
.top-nav .navbar-nav li > a {
  color: #ecfcfc;
}
.top-nav .navbar-nav li > a:hover {
  color: #ecfcfc;
  background-color: #0f6372;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  color: #ecfcfc;
  background-color: #30363a;
  border-right: 1px solid #191c1e;
}
.sidebar a,
.sidebar a:focus,
.sidebar a:hover,
.sidebar a:active,
.sidebar a:visited {
  text-align: center;
  display: inline-block;
  padding: 10px;
  height: 100%;
  color: #ecfcfc;
  text-decoration: none;
}
@media (max-width: 1199px) {
  .sidebar {
    display: none;
  }
}
.sidebar .top-logo {
  margin: 10px 30px 0;
  width: 190px;
}
.sidebar .side-menu-title {
  padding: 5px 0;
  font-size: 28px;
}
.sidebar .side-menu {
  padding: 0;
  margin: 50px 0 0;
  font-size: 18px;
  border-bottom: 1px solid #1bb1cc;
}
.sidebar .side-menu .login-info {
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
}
.sidebar .side-menu > li {
  list-style-type: none;
  border-top: 1px solid #1bb1cc;
}
.sidebar .side-menu > li > a {
  display: block;
}
.sidebar .side-menu > li > a.active {
  background-color: #158a9f;
}
.sidebar .side-menu > li > a:hover {
  background-color: #0f6372;
}
.sidebar .side-menu-footer {
  position: absolute;
  bottom: 0;
  width: 250px;
}
.content {
  color: #158a9f;
  padding-left: 270px;
}
@media (max-width: 1199px) {
  .content {
    padding-left: 15px;
  }
}
.content h1 {
  font-size: 26px;
}
.content h2 {
  font-size: 20px;
}
.area-list,
.ticket-list,
.price-list {
  list-style: none;
  text-align: center;
}
.area-list li,
.ticket-list li,
.price-list li {
  display: inline-block;
  margin: 10px 5px;
  float: left;
}
.area-list fieldset,
.ticket-list fieldset,
.price-list fieldset {
  margin-bottom: 20px;
}
.area-list fieldset legend,
.ticket-list fieldset legend,
.price-list fieldset legend {
  color: #116b76;
  font-size: 18px;
  text-align: left;
  border-bottom: 0;
  margin-bottom: 0;
}
.area-list label,
.ticket-list label,
.price-list label {
  border: 1px solid #116b76;
  border-radius: 3px;
  border-top: 3px solid #1ebbcf;
  background-color: #cccccc;
  height: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  display: block;
  padding: 10px;
  color: #30363a;
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 0;
  font-weight: normal;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.area-list label.active,
.ticket-list label.active,
.price-list label.active {
  color: #fff;
  border-top: 3px solid #158a9f;
  background-color: #1ba7b9;
}
.area-list label.inactive,
.ticket-list label.inactive,
.price-list label.inactive {
  color: #116b76;
  background-color: #f2f2f2;
}
.area-list label input,
.ticket-list label input,
.price-list label input {
  display: none;
}
.area-list label:hover,
.ticket-list label:hover,
.price-list label:hover {
  color: #ffffff;
  border-top-color: #ed2f43;
  background-color: #8c8c8c;
}
.area-manager,
.ticket-type-info,
.ticket-price-info {
  color: #4d4d4d;
  font-size: 11px;
}
.table-legend {
  margin-top: 15px;
  margin-bottom: 0;
}
.table-legend td,
.table-legend th {
  border: 1px solid #d3d3d3;
}
.legend-selected {
  background-color: #ed2f43;
}
.legend-available {
  background-color: #158a9f;
}
.legend-not-available {
  background-color: #fff;
}
.btn-load {
  color: #fff;
  background-color: #158a9f;
  border-color: #127688;
}
.btn-load:focus,
.btn-load.focus {
  color: #fff;
  background-color: #0f6372;
  border-color: #031518;
}
.btn-load:hover {
  color: #fff;
  background-color: #0f6372;
  border-color: #0b4852;
}
.btn-load:active,
.btn-load.active,
.open > .dropdown-toggle.btn-load {
  color: #fff;
  background-color: #0f6372;
  border-color: #0b4852;
}
.btn-load:active:hover,
.btn-load.active:hover,
.open > .dropdown-toggle.btn-load:hover,
.btn-load:active:focus,
.btn-load.active:focus,
.open > .dropdown-toggle.btn-load:focus,
.btn-load:active.focus,
.btn-load.active.focus,
.open > .dropdown-toggle.btn-load.focus {
  color: #fff;
  background-color: #0b4852;
  border-color: #031518;
}
.btn-load:active,
.btn-load.active,
.open > .dropdown-toggle.btn-load {
  background-image: none;
}
.btn-load.disabled:hover,
.btn-load[disabled]:hover,
fieldset[disabled] .btn-load:hover,
.btn-load.disabled:focus,
.btn-load[disabled]:focus,
fieldset[disabled] .btn-load:focus,
.btn-load.disabled.focus,
.btn-load[disabled].focus,
fieldset[disabled] .btn-load.focus {
  background-color: #158a9f;
  border-color: #127688;
}
.btn-load .badge {
  color: #158a9f;
  background-color: #fff;
}
.btn-cal {
  color: #fff;
  background-color: #158a9f;
  border-color: #127688;
  margin-bottom: 5px;
  width: 100px;
}
.btn-cal:focus,
.btn-cal.focus {
  color: #fff;
  background-color: #0f6372;
  border-color: #031518;
}
.btn-cal:hover {
  color: #fff;
  background-color: #0f6372;
  border-color: #0b4852;
}
.btn-cal:active,
.btn-cal.active,
.open > .dropdown-toggle.btn-cal {
  color: #fff;
  background-color: #0f6372;
  border-color: #0b4852;
}
.btn-cal:active:hover,
.btn-cal.active:hover,
.open > .dropdown-toggle.btn-cal:hover,
.btn-cal:active:focus,
.btn-cal.active:focus,
.open > .dropdown-toggle.btn-cal:focus,
.btn-cal:active.focus,
.btn-cal.active.focus,
.open > .dropdown-toggle.btn-cal.focus {
  color: #fff;
  background-color: #0b4852;
  border-color: #031518;
}
.btn-cal:active,
.btn-cal.active,
.open > .dropdown-toggle.btn-cal {
  background-image: none;
}
.btn-cal.disabled:hover,
.btn-cal[disabled]:hover,
fieldset[disabled] .btn-cal:hover,
.btn-cal.disabled:focus,
.btn-cal[disabled]:focus,
fieldset[disabled] .btn-cal:focus,
.btn-cal.disabled.focus,
.btn-cal[disabled].focus,
fieldset[disabled] .btn-cal.focus {
  background-color: #158a9f;
  border-color: #127688;
}
.btn-cal .badge {
  color: #158a9f;
  background-color: #fff;
}
.btn-form {
  color: #ecfcfc;
  background-color: #ed2f43;
  border-color: #eb182e;
}
.btn-form:focus,
.btn-form.focus {
  color: #ecfcfc;
  background-color: #d61327;
  border-color: #790a16;
}
.btn-form:hover {
  color: #ecfcfc;
  background-color: #d61327;
  border-color: #b61021;
}
.btn-form:active,
.btn-form.active,
.open > .dropdown-toggle.btn-form {
  color: #ecfcfc;
  background-color: #d61327;
  border-color: #b61021;
}
.btn-form:active:hover,
.btn-form.active:hover,
.open > .dropdown-toggle.btn-form:hover,
.btn-form:active:focus,
.btn-form.active:focus,
.open > .dropdown-toggle.btn-form:focus,
.btn-form:active.focus,
.btn-form.active.focus,
.open > .dropdown-toggle.btn-form.focus {
  color: #ecfcfc;
  background-color: #b61021;
  border-color: #790a16;
}
.btn-form:active,
.btn-form.active,
.open > .dropdown-toggle.btn-form {
  background-image: none;
}
.btn-form.disabled:hover,
.btn-form[disabled]:hover,
fieldset[disabled] .btn-form:hover,
.btn-form.disabled:focus,
.btn-form[disabled]:focus,
fieldset[disabled] .btn-form:focus,
.btn-form.disabled.focus,
.btn-form[disabled].focus,
fieldset[disabled] .btn-form.focus {
  background-color: #ed2f43;
  border-color: #eb182e;
}
.btn-form .badge {
  color: #ed2f43;
  background-color: #ecfcfc;
}
#quota-selected-text,
#quota-count-text,
#quota-count-today,
#quota-count-tomorrow {
  margin-left: 15px;
  font-size: 18px;
}
#date-select {
  border: 1px solid #158a9f;
  border-radius: 3px;
  border-top-width: 3px;
  margin-bottom: 15px;
}
#license-list {
  list-style: none;
}
#license-list > li {
  margin-bottom: 3px;
}
#target-group-list {
  list-style: none;
  padding: 0;
}
#target-group-list > li {
  border: 1px solid #158a9f;
  border-radius: 5px;
  padding-top: 15px;
  margin: 15px;
}
.row.indent-left {
  margin-left: 25px;
}
.row.indent-left.space-after {
  margin-bottom: 25px;
}
.ticket-price {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  min-width: 75px;
}
#reseller-page {
  height: auto;
  min-height: 100%;
  padding-bottom: 30px;
}
.datepicker-skin {
  font-size: 90%;
}
.datepicker-skin .ui-widget {
  font-family: "Helvetica Neue", "Trebuchet MS", Tahoma, Verdana, Arial, sans-serif;
  background: #fff;
}
.datepicker-skin .ui-datepicker {
  margin-bottom: 15px;
  padding: 0;
  width: 100%;
}
.datepicker-skin .ui-datepicker-header {
  border: none;
  background-clip: padding-box;
  /* prevents bg color from leaking outside the border */
  background-color: #fcfcfc;
  /* layer fill content */
  /* drop shadow and inner shadow */
  /* drop shadow and inner shadow */
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.53), inset 0 -1px 0 rgba(0, 0, 0, 0.12);
  /* drop shadow and inner shadow */
}
.datepicker-skin .ui-datepicker-title {
  color: #3f8482;
  /* text color */
  font-size: 14px;
  font-weight: bold;
}
.datepicker-skin .ui-icon {
  width: 16px;
}
.datepicker-skin .ui-icon-circle-triangle-e {
  background-image: url(../img/sales/datepicker-icons.png);
  background-position: -32px -16px;
}
.datepicker-skin .ui-icon-circle-triangle-w {
  background-image: url(../img/sales/datepicker-icons.png);
  background-position: -96px -16px;
}
.datepicker-skin .ui-datepicker .ui-datepicker-prev,
.datepicker-skin .ui-datepicker .ui-datepicker-next {
  border-color: transparent;
  padding: 0;
  height: 2em;
}
.datepicker-skin .ui-state-default {
  background: transparent;
  border: none;
  color: #2b2b2b;
  font-weight: normal;
  text-align: center;
}
.datepicker-skin .ui-datepicker-header .ui-state-hover {
  background: #bdc5c9;
}
.datepicker-skin .ui-datepicker table {
  margin: 0;
  border-bottom: 1px solid #d3d3d3;
}
.datepicker-skin .ui-datepicker th {
  color: #3f8482;
  font-size: 12px;
  font-weight: normal;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.08);
  width: 14.268%;
}
.datepicker-skin .ui-datepicker td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 0;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
}
.datepicker-skin .ui-datepicker td:last-child {
  border-right: none;
}
.datepicker-skin .ui-datepicker td span,
.datepicker-skin .ui-datepicker td a {
  padding: .7em 0;
  color: #6a747a;
  font-size: 12px;
  font-weight: bold;
}
.datepicker-skin td a.ui-state-active,
.datepicker-skin td a.ui-state-active.ui-state-hover {
  color: #fff;
  background-color: #ed2f43;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.26);
  box-shadow: inset 0 4px 9px rgba(0, 0, 0, 0.24);
}
.datepicker-skin button.ui-datepicker-current {
  border: 1px solid #3f8482;
  border-radius: 3px;
  color: #116b76;
  background-color: #f3f3f3;
}
.datepicker-skin td.ui-state-available {
  background-color: #158a9f;
}
.datepicker-skin td.ui-state-available > a {
  color: #ecfcfc;
}
.datepicker-skin td.ui-state-available-before {
  background-color: #1bb1cc;
}
.datepicker-skin td.ui-state-available-before > a {
  color: #ecfcfc;
}
.datepicker-skin td.ui-state-oneleft {
  background-color: #fab200;
}
.datepicker-skin td.ui-state-oneleft > a {
  color: #ecfcfc;
}
.form-divider-horizontal {
  border-bottom: 1px solid #158a9f;
  line-height: 0;
  margin: 20px 0;
  text-align: center;
}
.form-divider-horizontal span {
  background-color: #fff;
  text-transform: uppercase;
  padding: 15px 5px;
  font-size: 16px;
  font-weight: bold;
}
.input-group.input-daterange .input-group-label {
  border-left-width: 1px;
}
