@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@media all {
  @page {
    size: A4;
    margin: 10mm;
  }
  body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    background-color: #ffffff;
  }
  #demo-overlay {
    position: absolute;
    z-index: 1000;
    width: 200mm;
    height: 286.5mm;
    background-image: url('/img/ticket/demo_overlay.png');
    background-position: 50% 35%, center center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .agent-info {
    font-size: 9px;
    text-align: center;
    position: absolute;
    margin-bottom: 5mm;
    margin-left: 60mm;
  }
  .product {
    font-weight: 500;
    margin-left: 15mm;
    font-size: 14px;
    margin-top: 10mm;
  }
  .product > .title {
    font-size: 14px;
    font-weight: 700;
  }
  .product > .title > .hidden-info {
    font-size: 13px;
    font-weight: 500;
  }
  .product > .title > .hidden-info > .hidden-text {
    font-size: 18px;
    font-weight: 700;
    text-decoration: underline;
  }
  .product > .date {
    margin-left: 10mm;
    font-size: 16px;
  }
  .product > .price {
    margin-top: 5mm;
    font-size: 18px;
  }
  .product > .vat {
    font-size: 13px;
  }
  .product > .type {
    font-size: 13px;
  }
  .manager {
    font-weight: 700;
    margin-right: 15mm;
    margin-top: 15mm;
    text-align: right;
    padding-top: 15mm;
  }
  .manager > .logo {
    width: 50mm;
    margin-bottom: 3mm;
  }
  .manager > .name {
    text-align: right;
    font-size: 13px;
  }
  .manager > .address {
    font-weight: 500;
    font-size: 12px;
    text-align: right;
    list-style: none;
    -webkit-padding-start: 0.35em;
    -webkit-padding-end: 0.35em;
  }
  .manager > .link {
    height: 5mm;
    font-weight: 400;
    text-align: right;
  }
  .brand > .container {
    position: relative;
    width: 40mm;
    height: 30mm;
  }
  .brand > .container > .logo {
    position: absolute;
    width: 40mm;
    height: 32mm;
  }
  .user {
    font-size: 16px;
    margin-left: 15mm;
    position: absolute;
    margin-top: 42mm;
    width: 100mm;
  }
  .user > .sender {
    font-size: 8px;
    text-decoration: underline;
    margin-bottom: 3mm;
  }
  .user > .registered-mail {
    font-weight: bold;
    margin-bottom: 3mm;
  }
  .user > .name {
    margin-bottom: -3mm;
  }
  .user > .address {
    list-style: none;
    -webkit-padding-start: 0em;
    -webkit-padding-end: 0em;
  }
  .purchase {
    margin-right: 15mm;
    margin-top: 30mm;
    font-weight: 700;
    text-align: right;
  }
  .purchase > .identifier {
    font-size: 18px;
  }
  .purchase > .date {
    font-size: 13px;
  }
  .manager-info,
  .area-info {
    font-size: 10px;
  }
  .fisher-id {
    text-align: center;
  }
  .bold {
    font-weight: bold;
  }
}
