@media all {
  @page {
    size: A4;
    margin: 5mm;
  }
  body {
    margin: 0;
    font-family: Helvetica, Arial, "Lucida Grande", "DejaVu Sans", sans-serif;
    font-size: 14px;
    background-color: #ffffff;
  }
  #demo-overlay {
    position: absolute;
    z-index: 1000;
    width: 200mm;
    height: 286.5mm;
    background-image: url('/img/ticket/demo_overlay.png');
    background-position: 50% 35%, center center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  #watermark {
    z-index: -1;
    position: absolute;
    -webkit-writing-mode: horizontal-tb;
    color: #dddddd;
    height: 286.5mm;
    top: -71.625mm;
    left: -50mm;
    width: 300mm;
    font-size: 12px;
    line-height: 5mm;
    -webkit-print-color-adjust: exact;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-transform: rotate(315deg);
  }
  .ticket-page {
    position: relative;
    overflow: hidden;
    width: 200mm;
    height: 143.25mm;
  }
  .ticket-page.top {
    border-bottom: dashed 0.5mm #000000;
  }
  .ticket-page.extra {
    height: 286mm;
  }
  .ticket-page.extra li {
    margin-bottom: 5mm;
  }
  .ticket-page .content.left,
  .ticket-page .content.center,
  .ticket-page .content.right {
    float: left;
    height: 100%;
  }
  .ticket-page .content.left {
    width: 50mm;
  }
  .ticket-page .content.center {
    position: relative;
    width: 100mm;
    background-color: #ffffff;
    background-image: url('/img/ticket/hejfish_watermark.png');
    background-position: 50% 35%, center center;
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-print-color-adjust: exact;
  }
  .ticket-page .content.right {
    width: 50mm;
    position: relative;
  }
  .ticket-page .extra-logo {
    width: 34mm;
    margin: 3mm 8mm 1.5mm 83mm;
  }
  .ticket-page .extra-title {
    text-align: center;
  }
  .ticket-page .extra-manager-name {
    text-align: center;
  }
  .ticket-page .extra-content {
    text-align: center;
    margin-bottom: 5mm;
  }
  .rules {
    background-color: #ffffff;
    background-image: url('/img/ticket/hejfish_watermark_vert.png');
    background-position: 70% 70%, center center;
    background-repeat: no-repeat;
    background-size: 75%;
    -webkit-print-color-adjust: exact;
    -webkit-transform: rotate(180deg);
    -webkit-writing-mode: vertical-rl;
  }
  .rules.sh {
    background-image: url('/img/ticket/hejfish_watermark.png');
    -webkit-transform: none;
    -webkit-writing-mode: initial;
  }
  .rules.sh .rules-text {
    margin: 0;
    width: 100%;
    font-size: 11px;
  }
  .rules.sh .agent-info {
    height: 10mm;
    width: 200mm;
    margin: 5mm 0;
    padding-right: 5mm;
    font-size: 8px;
    text-align: center;
  }
  .rules .rules-text {
    height: 130mm;
    width: 190mm;
    margin: 5mm 0;
    overflow: hidden;
    font-size: 9px;
  }
  .rules .rules-text img {
    -webkit-transform: rotate(90deg);
  }
  .rules .rules-text table {
    border-collapse: collapse;
    height: 100%;
  }
  .rules .rules-text th,
  .rules .rules-text td {
    border: solid 1px #808080;
    font-size: 9px;
  }
  .rules .agent-info {
    height: 130mm;
    width: 10mm;
    margin: 5mm 0;
    padding-right: 5mm;
    font-size: 8px;
    text-align: center;
  }
  .rules .additional_info {
    -webkit-transform: rotate(90deg);
    width: 78mm;
    height: 90mm;
    position: absolute;
    right: 100mm;
    bottom: -6mm;
    text-align: left;
    border-collapse: collapse;
    margin-bottom: 3mm;
    font-size: 11px;
  }
  .log_sh {
    width: 5cm;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 3mm;
    margin-top: 2mm;
    font-size: 11px;
  }
  .log_sh.elbe {
    bottom: 15mm;
  }
  .log_sh th,
  .log_sh td {
    border: 0.5mm solid #000;
    height: 5.5mm;
  }
  .log_sh td {
    color: #000;
    font-weight: 400;
  }
  .log_sh thead {
    background-color: #d5d5d5;
  }
  .log_sh > .time {
    width: 25%;
  }
  .log_sh > .type {
    width: 35%;
  }
  .log_sh > .size {
    width: 20%;
  }
  .log_sh > .check {
    width: 20%;
  }
  .ticket {
    font-weight: 700;
    font-size: 12px;
  }
  .ticket > .link {
    height: 5mm;
    margin-top: 3mm;
    font-weight: 400;
    text-align: center;
  }
  .ticket > .title {
    background-color: #d5d5d5;
    margin: 1mm 0 1.5mm 0;
    padding: 1mm;
    font-size: 18px;
    text-align: center;
  }
  .ticket > .title > .group-number {
    float: right;
    font-size: 20px;
    line-height: 40px;
  }
  .ticket > .valid {
    text-align: center;
  }
  .ticket > .valid > .date {
    display: block;
    margin-top: 1.5mm;
    font-size: 14px;
  }
  .ticket > .borders {
    font-weight: 400;
    font-size: 11px;
    text-align: justify;
    padding: 1.5mm;
  }
  .catch {
    position: absolute;
    bottom: 0;
    margin: 1mm 1.5mm;
    font-weight: 400;
    font-size: 8px;
    text-align: center;
  }
  .catch > .rules-text {
    text-align: left;
    font-size: 8px;
  }
  .catch > .log {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 3mm;
    font-size: 12px;
  }
  .catch > .log th,
  .catch > .log td {
    border: 0.5mm solid #000000;
    height: 6.5mm;
  }
  .catch > .log td {
    color: #d5d5d5;
    font-weight: 700;
  }
  .catch > .log thead {
    background-color: #d5d5d5;
  }
  .catch > .log > .time {
    width: 25%;
  }
  .catch > .log > .type {
    width: 35%;
  }
  .catch > .log > .size {
    width: 20%;
  }
  .catch > .log > .check {
    width: 20%;
  }
  .catch > .intro {
    text-align: justify;
    margin-bottom: 3mm;
  }
  .catch > .legal {
    font-size: 10px;
    margin-bottom: 3mm;
  }
  .manager {
    font-weight: 700;
    margin-bottom: 4mm;
  }
  .manager > .logo {
    width: 34mm;
    margin: 3mm 8mm 1.5mm 8mm;
  }
  .manager > .name {
    margin: 0 3mm 1mm 0mm;
    text-align: center;
    font-size: 10px;
  }
  .manager > .address {
    font-weight: 500;
    font-size: 11px;
    list-style: none;
    margin-left: 3mm;
    -webkit-padding-start: 0.35em;
    -webkit-padding-end: 0.35em;
  }
  .brand > .container {
    position: relative;
    width: 40mm;
    height: 30mm;
    margin: 1.5mm 5mm;
  }
  .brand > .container > .logo {
    position: absolute;
    width: 40mm;
    height: 32mm;
    margin: 0;
  }
  .brand > .container > .code {
    position: absolute;
    z-index: 10;
    left: 14mm;
    top: 6.5mm;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    -webkit-print-color-adjust: exact;
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
  }
  .user {
    margin: 1.5mm 3mm;
    font-size: 11px;
  }
  .user > .name {
    font-size: 14px;
  }
  .user > .birthday {
    margin-bottom: 3mm;
  }
  .user > .address {
    list-style: none;
    margin-left: 0;
    -webkit-padding-start: 0.35em;
    -webkit-padding-end: 0.35em;
  }
  .user > .divider {
    border: 0;
    height: 0.6mm;
    margin: 1mm 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  .purchase {
    font-weight: 700;
    text-align: right;
    margin-right: 6mm;
  }
  .purchase > .divider {
    border: 0;
    height: 0.6mm;
    margin: 1mm 3mm;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  .purchase > .identifier {
    font-size: 16px;
  }
  .purchase > .date {
    margin-bottom: 0.5mm;
    font-size: 10px;
  }
  .purchase > .price {
    margin-bottom: 0.35mm;
    font-size: 16px;
  }
  .purchase > .cash-payment {
    margin-bottom: 0.35mm;
    font-size: 11px;
  }
  .purchase > .vat {
    margin-bottom: 0.5mm;
    font-size: 11px;
  }
  .purchase > .type {
    margin-bottom: 1.5mm;
    font-size: 11px;
  }
  .purchase > .status {
    margin-top: 2.5mm;
    margin-bottom: 2.5mm;
    font-size: 15px;
    color: #f00;
  }
  .qrcode {
    width: 34mm;
    margin: 0 8mm;
  }
  .fisher-id {
    text-align: center;
  }
  .fisher-id > .divider {
    border: 0;
    height: 0.6mm;
    margin: 1mm 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
  .fisher-id > div {
    font-weight: bold;
  }
  .rksv {
    position: absolute;
    bottom: 0;
    margin: 0.5mm;
    font-size: 9px;
  }
  .rksv .qrcode {
    position: relative;
    float: left;
    width: 20mm;
    margin: 0 0;
  }
  .rksv::before {
    content: "RKSV";
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 10px;
    position: absolute;
    top: -2.5mm;
    left: 5.5mm;
    width: 100%;
  }
  .manager-signature,
  .area-info {
    margin: 3mm;
    font-size: 9px;
  }
  .manager-signature {
    width: 40mm;
  }
  .manager-signature img {
    width: 40mm;
    height: auto;
  }
  .catchlog-page {
    width: 200mm;
    max-width: 200mm;
    min-height: 286.5mm;
    page-break-before: always;
    background-color: #ffffff;
    background-image: url('/img/ticket/hejfish_watermark_log.png');
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: 100%;
    -webkit-print-color-adjust: exact;
  }
  .catchlog-page > table {
    margin-top: 5mm;
    width: 100%;
    max-width: 200mm;
    border: 1px solid #000000;
    border-collapse: collapse;
    page-break-inside: auto;
  }
  .catchlog-page > table > thead {
    background-color: #d5d5d5;
    display: table-header-group;
  }
  .catchlog-page > table > thead .page-header {
    background-color: #ffffff;
    text-align: left;
    width: 100%;
  }
  .catchlog-page > table > thead .page-header th {
    border: none;
  }
  .catchlog-page > table > thead .page-header .title {
    font-size: 15px;
  }
  .catchlog-page > table > thead .page-header .qrcode-container {
    text-align: right;
  }
  .catchlog-page > table > thead .page-header .qrcode-container .qrcode {
    height: 23mm;
    width: 23mm;
    margin: 0;
  }
  .catchlog-page > table > thead .page-header .legend {
    text-align: right;
    font-weight: 500;
  }
  .catchlog-page > table tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  .catchlog-page > table td,
  .catchlog-page > table th {
    border: 1px solid #000;
    font-size: 12px;
    height: 6.75mm;
    padding: 0;
    margin: 0;
  }
  .catchlog-page > table td {
    color: #d5d5d5;
    font-weight: 500;
    text-align: center;
  }
  .catchlog-page > table .vertical-divider {
    border-right: 3px double #000;
  }
}
