html, body {
    height: 100%;
}

.login-panel
.reset-panel {
    background-color: ghostwhite;
}

.reset-panel {
    margin-top: 25%;
}

.container-fluid.login::before,
.container-fluid.reset::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../img/admin/login_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.5;
}

h3 {
    text-align: center;
    margin: 0 auto 30px;
    font-weight: bold;
}

.reset button[type=submit] {
    margin-top: 20px;
}

a.links {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    color: #fff;
    margin-bottom: 20px;
}

a.links:hover {
    text-decoration: underline;
    color: #ddd;
}
