@import (reference) "../../../bower_components/bootstrap/less/mixins/buttons";

@hejfish-black:   #30363a;
@hejfish-red:     #ed2f43;
@hejfish-blue:    #158a9f;
@hejfish-java:    #1ebbcf;

.btn-hej {
  .button-variant(#fff; @hejfish-red; darken(@hejfish-red, 5%));
}
.btn-fixed {
  position: fixed;
  padding: 10px;
  border-radius: 5px;
  background-color: @hejfish-black;
  bottom: 20px;
  right: 20px;
}
.btn-datatables {
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 120px;
  text-align: center;
}
.navbar-brand {
  padding: 5px;
}

.image-caption-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-group.input-daterange .input-group-label {
  border-left-width: 1px;
}

td.details-control {
  cursor: pointer;

  &:before {
    color: #5cb85c;
    font-family: FontAwesome;
    content: "\f138";
  }
}

tr.shown td.details-control {
  &:before {
    color: #d9534f;
    font-family: FontAwesome;
    content: "\f13a";
  }
}

table.ticket-user-detail,
table.ticket-inspections {
  padding: 10px 25px;
  display: inline-block;
  vertical-align: top;
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    border-top: 1px solid #ddd;

    &:first-child {
      border-top: none;
    }
  }

  th, td {
    padding: 8px 10px;
  }
}

.fish-group {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;

  legend {
    font-size: 16px;
  }

  label {
    font-size: 13px;
  }
}

#gallery-dropzone {
  .fa-file-image-o {
    display: block;
    margin: 15px auto;
  }
}

.loading {
  margin: 20px auto;
  height: 40px;
  color: #555;
  font-size: 32px;
  text-align: center;
}

.langingpage-row,
.fish-row,
.technique-row,
.country-row,
.state-row,
.region-row,
.city-row,
.area-row,
.poi-row,
.translation-row {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ddd;

  textarea {
    resize: vertical;
  }
}
