@base-font-size: 14px;
@base-font-type: 'Rubik', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,700);

@media all {

  @page {
    size: A4;
    margin: 5mm;
  }

  body {
    margin: 0;
    font-family: @base-font-type;
    font-size: @base-font-size;
    background-color: #ffffff;
    color: #303030;
    table {
      font-size: ceil(@base-font-size * 0.7);
    }
  }

  .page {
    position: relative;
    width: 200mm;
    height: 286.5mm;
  }

  .manager {
    margin-right: 15mm;
    text-align: right;

    & > .logo {
      width: 50mm;
      margin-bottom: 3mm;
    }

    & > .name {
      text-align: right;
      font-size: floor(@base-font-size * 0.85);
    }

  }

  .customer {
    font-size: @base-font-size;
    position: absolute;
    left: 15mm;
    top: 40mm;
    width: 100mm;
    .back_adress {
      font-size: @base-font-size * 0.5;
      text-decoration: underline;
    }
  }

  .general-data {
    font-size: @base-font-size;
    position: absolute;
    text-align: right;
    right: 15mm;
    top: 70mm;

    table {
      border-collapse: collapse;

      tr {
        height: 5mm;

        td:first-child {
          padding-right: 2mm;
        }
      }

      tr:not(:first-child) {
        border-top: 1px solid #a0a0a0;
      }
    }
  }

  .invoice-body {
    margin-left: 15mm;
    margin-top: 60mm;
    text-align: left;
    margin-right: 15mm;

    table {
      border-collapse: collapse;
      width: 100%;

      tr:first-child {
        border-bottom: 1px solid #a0a0a0;
      }

      th {
        font-size: ceil(@base-font-size * 0.8);
        text-align: left;
      }

      td {
        text-align: left;
        padding-top: 5mm;
        font-size: @base-font-size;
      }
      .right {
        text-align: right;
      }

      .table-sum {
        border-top: 1px solid #a0a0a0;
      }
    }
  }

  .legal-text {
    text-align: justify;
    font-weight: 300;
  }

  .info {
    font-size: @base-font-size;
    font-weight: 300;
    margin-top: 5mm;
    margin-bottom: 0;
  }

  .footer {
    position: absolute;
    bottom: 10mm;
    left: 15mm;
    width: 170mm;

    table {
      font-size: ceil(@base-font-size * 0.6);
      color: #606060;
      width: 100%;
      font-weight: 400;
      td {
        text-align: left;
        vertical-align: bottom;
        width: 25%;
      }
    }
  }

  .bold {
    font-weight: bold;
  }
}