@import (reference) "../../../bower_components/bootstrap/less/mixins/buttons";
@import (reference) "../../../bower_components/bootstrap/less/variables";

@hejfish-black:   #30363a;
@hejfish-red:     #ed2f43;
@hejfish-blue:    #158a9f;
@hejfish-java:    #1ebbcf;

@text-color-light: #ecfcfc;
@background-color-grey: #cccccc;

html, body, .content {
  height: 100%;
}

body {
  @media(max-width: @screen-md-max) {
    padding-top: 60px;
  }
}

.top-nav {
  @media(min-width: @screen-lg-min) {
    display: none;
  }

  background-color: @hejfish-black;
  border-bottom: 1px solid darken(@hejfish-black, 10%);

  .navbar-brand {
    color: @text-color-light;
    padding: 5px 15px;
    font-size: 24px;
    line-height: 44px;

    & > img {
      height: 40px;
    }
  }

  .navbar-nav {
    li {
      background-color: @hejfish-blue;
      border: 1px solid lighten(@hejfish-blue, 10%);

      > a {
        color: @text-color-light;

        &:hover {
          color: @text-color-light;
          background-color: darken(@hejfish-blue, 10%);
        }
      }
    }
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  color: @text-color-light;
  background-color: @hejfish-black;
  border-right: 1px solid darken(@hejfish-black, 10%);

  a, a:focus, a:hover, a:active, a:visited {
    text-align: center;
    display: inline-block;
    padding: 10px;
    height: 100%;
    color: #ecfcfc;
    text-decoration: none;
  }

  @media(max-width: @screen-md-max) {
    display: none;
  }

  .top-logo {
    margin: 10px 30px 0;
    width: 190px;
  }

  .side-menu-title {
    padding: 5px 0;
    font-size: 28px;
  }

  .side-menu {
    padding: 0;
    margin: 50px 0 0;
    font-size: 18px;
    border-bottom: 1px solid lighten(@hejfish-blue, 10%);

    .login-info {
      font-size: 14px;
      padding: 10px 0;
      text-align: center;
    }

    & > li {
      list-style-type: none;
      border-top: 1px solid lighten(@hejfish-blue, 10%);

      & > a {
        display: block;
      }

      & > a.active {
        background-color: @hejfish-blue;
      }

      & > a:hover {
        background-color: darken(@hejfish-blue, 10%);
      }
    }
  }

  .side-menu-footer {
    position: absolute;
    bottom: 0;
    width: 250px;
  }
}

.content {
  color: @hejfish-blue;
  padding-left: 270px;

  @media(max-width: @screen-md-max) {
    padding-left: 15px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
  }
}

.area-list, .ticket-list, .price-list {
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 10px 5px;
    float: left;
  }

  fieldset {
    margin-bottom: 20px;

    legend {
      color: darken(@hejfish-java, 20%);
      font-size: 18px;
      text-align: left;
      border-bottom: 0;
      margin-bottom: 0;
    }
  }

  label {
    border: 1px solid darken(@hejfish-java, 20%);
    border-radius: 3px;
    border-top: 3px solid @hejfish-java;
    background-color: @background-color-grey;
    height: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    display: block;
    padding: 10px;
    color: @hejfish-black;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0;
    font-weight: normal;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &.active {
      color: #fff;
      border-top: 3px solid @hejfish-blue;
      background-color: darken(@hejfish-java, 5%);
    }

    &.inactive {
      color: darken(@hejfish-java, 20%);
      background-color: lighten(@background-color-grey, 15%);
    }

    input {
      display: none;
    }
  }

  label:hover {
    color: lighten(@text-color-light, 10%);
    border-top-color: @hejfish-red;
    background-color: darken(@background-color-grey, 25%);
  }
}

.area-manager, .ticket-type-info, .ticket-price-info {
  color: darken(@background-color-grey, 50%);
  font-size: 11px;
}

.table-legend {
  margin-top: 15px;
  margin-bottom: 0;

  td, th {
    border: 1px solid #d3d3d3;
  }
}

.legend-selected {
  background-color: @hejfish-red;
}

.legend-available {
  background-color: @hejfish-blue;
}

.legend-not-available {
  background-color: #fff;
}

.btn-load {
  .button-variant(#fff; @hejfish-blue; darken(@hejfish-blue, 5%));
}

.btn-cal {
  .button-variant(#fff; @hejfish-blue; darken(@hejfish-blue, 5%));
  margin-bottom: 5px;
  width: 100px;
}

.btn-form {
  .button-variant(@text-color-light; @hejfish-red; darken(@hejfish-red, 5%));
}

#quota-selected-text,
#quota-count-text,
#quota-count-today,
#quota-count-tomorrow {
  margin-left: 15px;
  font-size: 18px;
}

#date-select {
  border: 1px solid @hejfish-blue;
  border-radius: 3px;
  border-top-width: 3px;
  margin-bottom: 15px;
}

#license-list {
  list-style: none;

  & > li {
    margin-bottom: 3px;
  }
}

#target-group-list {
  list-style: none;
  padding: 0;

  & > li {
    border: 1px solid @hejfish-blue;
    border-radius: 5px;
    padding-top: 15px;
    margin: 15px;
  }
}

.row.indent-left {
  margin-left: 25px;

  &.space-after {
    margin-bottom: 25px;
  }
}

.ticket-price {
  display: block;
  margin-top: 10px;
  font-size: 20px;
  min-width: 75px;
}

#reseller-page {
  height: auto;
  min-height: 100%;
  padding-bottom: 30px;
}


.datepicker-skin {
  font-size: 90%;
}

.datepicker-skin .ui-widget {
  font-family: "Helvetica Neue","Trebuchet MS",Tahoma,Verdana,Arial,sans-serif;
  background: #fff;
}

.datepicker-skin .ui-datepicker {
  margin-bottom: 15px;
  padding: 0;
  width: 100%;
}

.datepicker-skin .ui-datepicker-header {
  border: none;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box; /* prevents bg color from leaking outside the border */
  background-color: #fcfcfc; /* layer fill content */
  -moz-box-shadow: 0 1px 0 rgba(255,255,255,.53), inset 0 -1px 0 rgba(0,0,0,.12); /* drop shadow and inner shadow */
  -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.53), inset 0 -1px 0 rgba(0,0,0,.12); /* drop shadow and inner shadow */
  box-shadow: 0 1px 0 rgba(255,255,255,.53), inset 0 -1px 0 rgba(0,0,0,.12); /* drop shadow and inner shadow */
}

.datepicker-skin .ui-datepicker-title {
  color: darken(#6fbab8, 20%); /* text color */
  font-size: 14px;
  font-weight: bold;
}

.datepicker-skin .ui-icon {
  width: 16px;
}

.datepicker-skin .ui-icon-circle-triangle-e {
  background-image: url(../img/sales/datepicker-icons.png);
  background-position: -32px -16px;
}

.datepicker-skin .ui-icon-circle-triangle-w {
  background-image: url(../img/sales/datepicker-icons.png);
  background-position: -96px -16px;
}

.datepicker-skin .ui-datepicker .ui-datepicker-prev,
.datepicker-skin .ui-datepicker .ui-datepicker-next {
  border-color: transparent;
  padding: 0;
  height: 2em;
}

.datepicker-skin .ui-state-default {
  background: transparent;
  border: none;
  color: #2b2b2b;
  font-weight: normal;
  text-align: center;
}

.datepicker-skin .ui-datepicker-header .ui-state-hover {
  background: #bdc5c9;
}

.datepicker-skin .ui-datepicker table {
  margin: 0;
  border-bottom: 1px solid #d3d3d3;
}

.datepicker-skin .ui-datepicker th {
  color: darken(#6fbab8, 20%);
  font-size: 12px;
  font-weight: normal;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: rgba(0,0,0,.08);
  width: 14.268%;
}

.datepicker-skin .ui-datepicker td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 0;
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.4);
}

.datepicker-skin .ui-datepicker td:last-child {
  border-right: none;
}

.datepicker-skin .ui-datepicker td span,
.datepicker-skin .ui-datepicker td a {
  padding: .7em 0;
  color: #6a747a;
  font-size: 12px;
  font-weight: bold;
}

.datepicker-skin td a.ui-state-active,
.datepicker-skin td a.ui-state-active.ui-state-hover {
  color: #fff;
  background-color: @hejfish-red;
  text-shadow: 0 1px 0 rgba(0,0,0,.26);
  -moz-box-shadow: inset 0 4px 9px rgba(0,0,0,.24);
  -webkit-box-shadow: inset 0 4px 9px rgba(0,0,0,.24);
  box-shadow: inset 0 4px 9px rgba(0,0,0,.24);
}

.datepicker-skin button.ui-datepicker-current {
  border: 1px solid darken(#6fbab8, 20%);
  border-radius: 3px;
  color: darken(@hejfish-java, 20%);
  background-color: #f3f3f3;
}

.datepicker-skin td.ui-state-available {
  background-color: @hejfish-blue;

  & > a {
    color: #ecfcfc;
  }
}

.datepicker-skin td.ui-state-available-before {
  background-color: lighten(@hejfish-blue, 10%);

  & > a {
    color: #ecfcfc;
  }
}

.datepicker-skin td.ui-state-oneleft {
  background-color: #fab200;

  & > a {
    color: #ecfcfc;
  }
}

.form-divider-horizontal {
  border-bottom: 1px solid #158a9f;
  line-height: 0;
  margin: 20px 0;
  text-align: center;

  span {
    background-color: #fff;
    text-transform: uppercase;
    padding: 15px 5px;
    font-size: 16px;
    font-weight: bold;
  }
}
.input-group.input-daterange .input-group-label {
  border-left-width: 1px;
}
