@base-font-size: 16px;
@base-font-type: 'Source Sans Pro', sans-serif;

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

@media all {

  @page {
    size: A4;
    margin: 10mm;
  }

  body {

    font-family: @base-font-type;
    font-size: @base-font-size;
    background-color: #ffffff;
  }

  #demo-overlay {
    position: absolute;
    z-index: 1000;
    width: 200mm;
    height: 286.5mm;
    background-image: url('/img/ticket/demo_overlay.png');
    background-position: 50% 35%, center center;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .agent-info {
    font-size: floor(@base-font-size * 0.6);
    text-align: center;
    position: absolute;
    margin-bottom: 5mm;
    margin-left: 60mm;
  }

    .product {
      font-weight: 500;
      margin-left: 15mm;
      font-size: floor(@base-font-size * 0.9);
      margin-top: 10mm;

      &>.title {
        font-size: floor(@base-font-size * 0.9);
        font-weight: 700;

        &>.hidden-info {
          font-size: floor(@base-font-size * 0.85);
          font-weight: 500;

          &>.hidden-text {
            font-size: floor(@base-font-size * 1.15);
            font-weight: 700;
            text-decoration: underline;
          }
        }
      }

        &>.date {
          margin-left: 10mm;
          font-size: @base-font-size;
        }

      &>.price {
        margin-top: 5mm;
        font-size: floor(@base-font-size * 1.15);
      }

      &>.vat {
        font-size: floor(@base-font-size * 0.85);
      }

      &>.type {
        font-size: floor(@base-font-size * 0.85);
      }
    }

    .manager {
      font-weight: 700;
      margin-right: 15mm;
      margin-top: 15mm;
      text-align: right;
      padding-top: 15mm;

      &>.logo {
        width: 50mm;
        margin-bottom: 3mm;
      }

      &>.name {
        text-align: right;
        font-size: floor(@base-font-size * 0.85);
      }

      &>.address {
        font-weight: 500;
        font-size: floor(@base-font-size * 0.8);
        text-align: right;
        list-style: none;
        -webkit-padding-start: 0.35em;
        -webkit-padding-end: 0.35em;
      }

      &>.link {
        height: 5mm;
        font-weight: 400;
        text-align: right;
      }
    }

    .brand {
      &>.container {
        position: relative;
        width: 40mm;
        height: 30mm;

        &>.logo {
          position: absolute;
          width: 40mm;
          height: 32mm;
        }
      }
    }

    .user {
      font-size: @base-font-size;
      margin-left: 15mm;
      position: absolute;
      margin-top: 42mm;
      width: 100mm;

      &>.sender {
        font-size: ceil(@base-font-size * 0.5);
        text-decoration: underline;
        margin-bottom: 3mm;
      }
      &>.registered-mail {
        font-weight: bold;
        margin-bottom: 3mm;
      }
      &>.name {
        margin-bottom: -3mm;
      }
      &>.address {
        list-style: none;
        -webkit-padding-start: 0em;
        -webkit-padding-end: 0em;
      }
    }

    .purchase {
      margin-right: 15mm;
      margin-top: 30mm;
      font-weight: 700;
      text-align: right;
      &>.identifier {
        font-size: floor(@base-font-size * 1.15);
      }

      &>.date {
        font-size: floor(@base-font-size * 0.85);
      }

    }

    .manager-info, .area-info {
      font-size: ceil(@base-font-size * 0.6);
    }

  .fisher-id {
    text-align: center;

  }

  .bold {
    font-weight:bold;
  }
}