@base-font-size: 14px;
@base-font-type: Helvetica, Arial, "Lucida Grande", "DejaVu Sans", sans-serif;

@media all {

  @page {
    size: A4;
    margin: 5mm;
  }

  body {
    margin: 0;
    font-family: @base-font-type;
    font-size: @base-font-size;
    background-color: #ffffff;
  }

  #demo-overlay {
    position: absolute;
    z-index: 1000;
    width: 200mm;
    height: 286.5mm;
    background-image: url('/img/ticket/demo_overlay.png');
    background-position: 50% 35%, center center;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  #watermark {
    z-index: -1;
    position: absolute;
    -webkit-writing-mode: horizontal-tb;
    color: #dddddd;
    height: 286.5mm;
    top: -71.625mm;
    left: -50mm;
    width: 300mm;
    font-size: floor(@base-font-size * 0.9);
    line-height: 5mm;
    -webkit-print-color-adjust: exact;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-transform: rotate(315deg);
  }

  .ticket-page {
    position: relative;
    overflow: hidden;
    width: 200mm;
    height: 143.25mm;

    &.top {
      border-bottom: dashed 0.5mm #000000;
    }
    &.extra {
      height: 286mm;
      li {
        margin-bottom: 5mm;
      }
    }

    .content {
      &.left, &.center, &.right {
        float: left;
        height: 100%;
      }

      &.left {
        width: 50mm;
      }

      &.center {
        position: relative;
        width: 100mm;
        background-color: #ffffff;
        background-image: url('/img/ticket/hejfish_watermark.png');
        background-position: 50% 35%, center center;
        background-repeat: no-repeat;
        background-size: 100%;
        -webkit-print-color-adjust: exact;
      }

      &.right {
        width: 50mm;
        position: relative;
      }
    }
    .extra-logo {
      width: 34mm;
      margin: 3mm 8mm 1.5mm 83mm;
    }
    .extra-title {
      text-align: center;
    }
    .extra-manager-name {
      text-align: center;
    }
    .extra-content {
      text-align: center;
      margin-bottom: 5mm;
    }
   }

  .rules {
    background-color: #ffffff;
    background-image: url('/img/ticket/hejfish_watermark_vert.png');
    background-position: 70% 70%, center center;
    background-repeat: no-repeat;
    background-size: 75%;
    -webkit-print-color-adjust: exact;
    -webkit-transform: rotate(180deg);
    -webkit-writing-mode: vertical-rl;

    &.sh {
      background-image: url('/img/ticket/hejfish_watermark.png');;
      -webkit-transform: none;
      -webkit-writing-mode: initial;

      .rules-text {
        margin: 0;
        width: 100%;
        font-size: 11px;
      }

      .agent-info {
        height: 10mm;
        width: 200mm;
        margin: 5mm 0;
        padding-right: 5mm;
        font-size: floor(@base-font-size * 0.6);
        text-align: center;
      }
    }

    .rules-text {
      height: 130mm;
      width: 190mm;
      margin: 5mm 0;
      overflow: hidden;
      font-size: floor(@base-font-size * 0.65);

      img {
        -webkit-transform: rotate(90deg);
      }

      table {
        border-collapse: collapse;
        height: 100%;
      }

      th, td {
        border: solid 1px #808080;
        font-size: floor(@base-font-size * 0.7);
      }
    }

    .agent-info {
      height: 130mm;
      width: 10mm;
      margin: 5mm 0;
      padding-right: 5mm;
      font-size: floor(@base-font-size * 0.6);
      text-align: center;
    }

    .additional_info {
      -webkit-transform: rotate(90deg);
      width: 78mm;
      height: 90mm;
      position: absolute;
      right: 100mm;
      bottom: -6mm;
      text-align: left;
      border-collapse: collapse;
      margin-bottom: 3mm;
      font-size: floor(@base-font-size * 0.8);
    }
  }

  .log_sh {
    width: 5cm;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 3mm;
    margin-top: 2mm;
    font-size: floor(@base-font-size * 0.8);
    &.elbe {
      bottom: 15mm;
    }

    th, td
    {
      border: 0.5mm solid #000;
      height: 5.5mm;
    }

    td {
      color: #000;
      font-weight: 400;
    }

    thead {
      background-color: #d5d5d5;
    }

    &>.time {
      width: 25%;
    }

    &>.type {
      width: 35%;
    }

    &>.size {
      width: 20%;
    }

    &>.check {
      width: 20%;
    }
  }

  .ticket {
    font-weight: 700;
    font-size: floor(@base-font-size * 0.9);

    &>.link {
      height: 5mm;
      margin-top: 3mm;
      font-weight: 400;
      text-align: center;
    }

    &>.title {
      background-color: #d5d5d5;
      margin: 1mm 0 1.5mm 0;
      padding: 1mm;
      font-size: floor(@base-font-size * 1.35);
      text-align: center;

      &>.group-number {
        float: right;
        font-size: ceil(@base-font-size * 1.4);
        line-height: ceil(@base-font-size * 2.8);
      }
    }

    &>.valid {
      text-align: center;

      &>.date {
        display: block;
        margin-top: 1.5mm;
        font-size: @base-font-size;
      }
    }

    &>.borders {
      font-weight: 400;
      font-size: floor(@base-font-size * 0.8);
      text-align: justify;
      padding: 1.5mm;
    }
  }

  .catch {
    position: absolute;
    bottom: 0;
    margin: 1mm 1.5mm;
    font-weight: 400;
    font-size: floor(@base-font-size * 0.6);
    text-align: center;
    &>.rules-text {
      text-align: left;
      font-size: floor(@base-font-size * 0.6);
    }
    &>.log {
      width: 100%;
      text-align: center;
      border-collapse: collapse;
      margin-bottom: 3mm;
      font-size: floor(@base-font-size * 0.9);

      th, td
      {
        border: 0.5mm solid #000000;
        height: 6.5mm;
      }

      td {
        color: #d5d5d5;
        font-weight: 700;
      }

      thead {
        background-color: #d5d5d5;
      }

      &>.time {
        width: 25%;
      }

      &>.type {
        width: 35%;
      }

      &>.size {
        width: 20%;
      }

      &>.check {
        width: 20%;
      }
    }


    &>.intro {
      text-align: justify;
      margin-bottom: 3mm;
    }

    &>.legal {
      font-size: floor(@base-font-size * 0.75);
      margin-bottom: 3mm;
    }
  }

  .manager {
    font-weight: 700;
    margin-bottom: 4mm;

    &>.logo {
      width: 34mm;
      margin: 3mm 8mm 1.5mm 8mm;
    }

    &>.name {
      margin: 0 3mm 1mm 0mm;
      text-align: center;
      font-size: floor(@base-font-size * 0.75);
    }

    &>.address {
      font-weight: 500;
      font-size: floor(@base-font-size * 0.8);
      list-style: none;
      margin-left: 3mm;
      -webkit-padding-start: 0.35em;
      -webkit-padding-end: 0.35em;
    }
  }

  .brand {
    &>.container {
      position: relative;
      width: 40mm;
      height: 30mm;
      margin: 1.5mm 5mm;

      &>.logo {
        position: absolute;
        width: 40mm;
        height: 32mm;
        margin: 0;
      }

      &>.code {
        position: absolute;
        z-index: 10;
        left: 14mm;
        top: 6.5mm;
        color: #ffffff;
        font-size: floor(@base-font-size * 1.3);
        font-weight: 700;
        -webkit-print-color-adjust: exact;
        text-shadow: 1px  1px 1px black,
                     1px -1px 1px black,
                    -1px  1px 1px black,
                    -1px -1px 1px black;
      }
    }
  }

  .user {
    margin: 1.5mm 3mm;
    font-size: floor(@base-font-size * 0.85);

    &>.name {
      font-size: @base-font-size;
    }

    &>.birthday {
      margin-bottom: 3mm;
    }

    &>.address {
      list-style: none;
      margin-left: 0;
      -webkit-padding-start: 0.35em;
      -webkit-padding-end: 0.35em;
    }

    &>.divider {
      border: 0;
      height: 0.6mm;
      margin: 1mm 0;
      background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    }
  }

  .purchase {
    font-weight: 700;
    text-align: right;
    margin-right: 6mm;

    &>.divider {
      border: 0;
      height: 0.6mm;
      margin: 1mm 3mm;
      background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    }

    &>.identifier {
      font-size: floor(@base-font-size * 1.15);
    }

    &>.date {
      margin-bottom: 0.5mm;
      font-size: floor(@base-font-size * 0.75);
    }

    &>.price {
      margin-bottom: 0.35mm;
      font-size: floor(@base-font-size * 1.15);
    }

    &>.cash-payment {
      margin-bottom: 0.35mm;
      font-size: floor(@base-font-size * 0.85);
    }

    &>.vat {
      margin-bottom: 0.5mm;
      font-size: floor(@base-font-size * 0.85);
    }

    &>.type {
      margin-bottom: 1.5mm;
      font-size: floor(@base-font-size * 0.85);
    }

    &>.status {
      margin-top: 2.5mm;
      margin-bottom: 2.5mm;
      font-size: floor(@base-font-size * 1.1);
      color: #f00;
    }
  }

  .qrcode {
    width: 34mm;
    margin: 0 8mm;
  }

  .fisher-id {
    text-align: center;

    &>.divider {
      border: 0;
      height: 0.6mm;
      margin: 1mm 0;
      background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    }

    &>div {
      font-weight: bold;
    }
  }

  .rksv {
    position: absolute;
    bottom: 0;
    margin: 0.5mm;
    font-size: floor(@base-font-size * 0.7);

    .qrcode {
      position: relative;
      float: left;
      width: 20mm;
      margin: 0 0;
    }

    &::before {
      content: "RKSV";
      text-align: left;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: 700;
      font-size: 10px;
      position: absolute;
      top: -2.5mm;
      left: 5.5mm;
      width: 100%;
    }
  }

  .manager-signature, .area-info {
    margin: 3mm;
    font-size: ceil(@base-font-size * 0.6);
  }
  .manager-signature {
    width: 40mm;
    img {
      width: 40mm;
      height: auto;
    }
  }
  .catchlog-page {
    width: 200mm;
    max-width: 200mm;
    min-height: 286.5mm;
    page-break-before: always;
    background-color: #ffffff;
    background-image: url('/img/ticket/hejfish_watermark_log.png');
    background-position: 0 0;
    background-repeat: repeat-y;
    background-size: 100%;
    -webkit-print-color-adjust: exact;

    &>table {
      margin-top: 5mm;
      width: 100%;
      max-width: 200mm;
      border: 1px solid #000000;
      border-collapse: collapse;
      page-break-inside: auto;

      &>thead {
        background-color: #d5d5d5;
        display: table-header-group;

        .page-header {
          background-color: #ffffff;
          text-align: left;
          width: 100%;

          th {
            border: none;
          }

          .title {
            font-size: floor(@base-font-size * 1.1);
          }

          .qrcode-container {
            text-align: right;

            .qrcode {
              height: 23mm;
              width: 23mm;
              margin: 0;
            }
          }

          .legend {
            text-align: right;
            font-weight: 500;
          }
        }
      }

      tr {
        page-break-inside: avoid;
        page-break-after: auto;
      }

      td, th {
        border: 1px solid #000;
        font-size: floor(@base-font-size * 0.9);
        height: 6.75mm;
        padding: 0;
        margin: 0;
      }

      td {
        color: #d5d5d5;
        font-weight: 500;
        text-align: center;
      }

      .vertical-divider {
        border-right: 3px double #000;
      }
    }
  }
}