@import "../../../bower_components/bootstrap/less/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

@btn-biss-color: #fff;
@btn-biss-bg: #4ba0aa;
@btn-biss-border: darken(@btn-biss-bg, 5%);

@hejfish-black:   #30363a;
@hejfish-red:     #ed2f43;
@hejfish-blue:    #158a9f;
@hejfish-java:    #1ebbcf;

body {
  margin-top: 10px;
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

.well-password, .alert-password {
  border-radius: 0;
}

.btn-biss {
  .button-variant(@btn-biss-color; @btn-biss-bg; @btn-biss-border);
}

.btn-hej {
  .button-variant(#fff; @hejfish-red; darken(@hejfish-red, 5%));
}